.fix-cnt-fld {
    margin: 0px !important;
    padding: 0px !important;
}

.fix-cnt-fldps {
    padding: 50px 0px 50px 0px !important;
}

.fix-layout {
    margin: 0px !important;
    padding: 0px !important;
}

.fix-col2 {
    margin: 0px 0px 0px 25px !important;
    padding: 0px !important;
}

.fix-cnt-lyt {
    padding: 50px 0px 0px 0px !important;
    background-color: #000000 !important;
}

.fix-cl-it {
    padding: 70px 0px 110px 0px !important;
}

.fix-tl-hr {
    padding: 75px 0px 25px 0px !important;
}

.fix-ftr {
    background-color: #1C1C1C;
    padding: 50px 0px 75px 0px;
}

.fix-par-tl {
    background-color: #212121 !important;
    border-radius: 0px !important;
    border: 1px solid #212121 !important;
    margin: 0px 0px 5px 0px !important;
    padding: 3px 3px 0px 3px !important;
}

.fix-par-desc {
    font-weight: 200 !important;
    background-color: #212121 !important;
    padding: 5px !important;
    color: #FCFCFC !important;
    font-size: 17px !important;
    font-family: 'Roboto', sans-serif !important;
}

/* Code Relative */
#fix-icn {
    font-size: 11px;
    position: relative;
    right: 5px;
    bottom: 1px;
}

#spra {
    color: #F1F1F1;
}

#br0 {
    border-radius: 0px !important;
}

/* Background Cover */
.bck {
    background: url('http://178.62.9.13:7123/repo/papl_wp_t151/img/banner/bck_cover_papillon_theme.jpg') no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bck2 {
    background: url('http://178.62.9.13:7123/repo/papl_wp_t151/banner/bck_cover_papillon_theme2.jpg') no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bck3 {
    background: url('http://178.62.9.13:7123/repo/papl_wp_t151/img/banner/bck_cover_papillon_theme3.jpg') no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nvb-check {
    background-color: #FFFFFF;
    height: 50px;
    border-bottom: 1px solid #F1F1F1;
}

.cvr-title {
    font-weight: 200;
    font-size: 75px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

.cvr-prg {
    font-weight: 200;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}

/* Body Code */
.papl-box {
    margin: 0px 0px 30px 0px;
}

.papl-body {
}

.papl-desc {
    padding: 0px;
}

.papl-text-cnt {
}

.papl-text-cnt > button {
    font-size: 25px;
    border-radius: 0px;
    background-color: transparent;
    color: #212121;
    margin: 0px 0px 10px 0px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
}

.papl-text-cnt > p {
    font-size: 17px;
    padding: 0px 0px 0px 10px;
    font-weight: 200;
    border-left: 1px solid #F1F1F1;
    font-family: 'Roboto', sans-serif;
}

.papl-bar {
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
    margin: 0px 0px 0px 0px;
}

.papl-bar-inverted {
    border-top: 1px solid #2E2E2E;
    border-bottom: 1px solid #2E2E2E;
    margin: 50px 0px 0px 0px;
    position: relative;
    bottom: 0px;
    background-color: #1C1C1C;
}

.desc-box-tl {
    font-weight: 300;
    color: #FCFCFC;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.papl-mdl-pht {
    margin: 75px 0px 175px 0px;
}

.papl-mdl-lyt > h4 {
    font-size: 27px;
    margin: 50px 35px 0px 35px;
}

.papl-mdl-lyt > h3 {
    font-family: 'Roboto', sans-serif;
    padding: 10px 75px 10px 75px;
    margin: 0px 35px 0px 35px;
    font-size: 35px;
    font-weight: 200;
    color: #212121;
}

.papl-mdl-lyt > p {
    font-size: 15px;
    font-style: italic;
    padding: 10px 75px 10px 75px;
    margin: 0px 35px 35px 35px;
    color: #BFBFBF;
}

.papl-mdl-lyt > div > div {
    margin: 0px !important;
    padding: 0px 0px 0px 0px !important;
    border: 1px solid #212121 !important;
}

.papl-btn {
    border: 1px solid #FFFFFF; !important;
}

/* Text Color */
.sp-red {
    color: #e74c3c !important;
}

.sp-dark {
    color: #212121 !important;
}

.sp-blue {
    color: #007BFF !important;
}

.papl-txt-light {
    color: #FFFFFF !important;
}

/* Text Settings */
.papl-txt-dep {
    font-size: 27px !important;
    font-weight: 200 !important;
    font-family: 'Roboto', sans-serif !important;
    padding: 0px !important;
    margin: 0px !important;
}

.papl-body > p {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.papl-textbar {
    font-size: 45px;
    margin: 0px 0px 10px 0px;
}

.papl-textbar2 {
    font-family: 'Kaushan Script', cursive;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 55px;
    font-weight: 400;
    color: #FFFFFF;
}

.box-solutions {
    padding: 35px 0px 50px 0px !important;
}

.container-fluid.fix-cnt-lyt > hr {
    background-color: #e05260;
    width: 200px;
    border: 2px solid #007BFF;
}

/* img settings */

.papl-mdl-lyt > div > div > img {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.papillon-img2 > img {
    width: 100%;
    border: 1px solid #FFFFFF;
}

.papillon-img > img {
    width: 100%;
    border: 1px solid #212121;
}

/* Animation Delay */
.an-dl03 {
    animation-delay: 0.3s !important;
}

.an-dl06 {
    animation-delay: 0.6s !important;
}

.an-dl10 {
    animation-delay: 1.0s !important;
}

/* Text Dependencies */
#sp-14 {
    font-size: 14px !important;
}

/* Code Dependencies */
.dropdown-toggle::after {
    display: none
}

.fix-a-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 900;
    position: relative;
    top: 6px;
}

.usr-frmtd {
    color: #007BFF;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
